.catalog {
  min-width: 320px;
  max-width: 1220px;
  margin: 0 auto;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 0 30px;
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 0 110px;
    margin-bottom: 76px;
  }
}

.catalog__item {
  margin: 0 auto;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.catalog__list {
  @include list-reset;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 75px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 63px 80px;
  }
}
