.catalog-additional {
  min-width: 320px;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0 30px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 0 100px;
  }
}

.catalog-additional__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 896px 245px;
    gap: 79px;
    margin-bottom: 86px;
  }
}

.catalog-additional__list {
  @include list-reset;
  margin-bottom: 35px;
  width: 100%;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.catalog-additional__tittle {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 36px;
}
