.html-academy__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #444444;
  fill: #666666;

  &:hover {
    fill: $accent-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.html-academy__text {
  font-size: 16px;
  line-height: 19px;

  @media (min-width: $tablet-width) {
    margin-right: 27px;
  }
}
