.input {
  border: 1px solid #e7e7e7;
  padding: 14px 20px 14px 20px;

  &--error {
    border: 2px solid #ff8282;
  }

  &::placeholder {
    @include subtitle;
    color: $secondary-text-color;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
    outline-offset: -2px;
  }

  @media (min-width: $tablet-width) {
    padding: 18px 20px 17px 20px;
  }
}
