.main-footer {
  min-width: 320px;
  padding: 40px 20px 40px 20px;
  background-color: $secondary-background-color;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 55px 30px 55px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 110px 66px 110px;
  }
}

.main-footer__wrapper {
  max-width: 1220px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer__logo {
  padding-bottom: 18px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.main-footer__logo-text {
  width: 128px;
  height: 24px;
  fill: #111111;

  @media (min-width: $tablet-width) {
    width: 143px;
    height: 27px;
  }
}

.main-footer__logo-link {
  width: 128px;
  height: 24px;
  display: block;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 143px;
    height: 26px;
  }
}

.main-footer__social {
  padding: 23px 0 18px 0;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}

.main-footer__html-academy {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}


.main-footer__logo-link[href] .main-footer__logo-text:hover {
  fill: #3e3e3e;
}

.main-footer__logo-link[href] .main-footer__logo-text:active {
  fill: #6b6b6b;
}
