.page__body {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background-color: #ffffff;
  color: $secondary-text-color;
  min-height: 100%;
  margin: 0 auto;
}
