.plan-action {
  min-width: 320px;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 47px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 0 100px;
  }
}

.plan-action__title {
  line-height: 40px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.plan-action__description {
  margin: 0;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-top: 31px;
  }
}

.plan-action__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px 137px;
    padding-right: 79px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0 94px;
    padding-right: 0;
  }
}

.plan-action__item {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color: $accent-color;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--icon-leaf::before {
    background-image: url("../img/icon-leaf.svg");
  }

  &--icon-cup::before {
    background-image: url("../img/icon-cup.svg");
  }

  &--icon-eat::before {
    background-image: url("../img/icon-eat.svg");
  }

  &--icon-alarm::before {
    background-image: url("../img/icon-alarm.svg");
  }

  @media (min-width: $tablet-width) {
    min-height: 240px;
    background-repeat: no-repeat;
    background-position: right 0;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    margin-bottom: 0;
    padding-top: 40px;

    &::after {
      font-family: "Oswald", "Arial", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }

    &--icon-leaf::after {
      content: "1";
    }

    &--icon-cup::after {
      content: "2";
    }

    &--icon-eat::after {
      content: "3";
    }

    &--icon-alarm::after {
      content: "4";
    }
  }
}
