.present__wrapper {
  width: 280px;
  margin: 0 auto;
  background-image: url(../../img/background-present.png);
  padding: 186px 0 43px 0;
}

.present__text {
  line-height: 18px;
  text-align: center;
  width: 160px;
  color: #FFFFFF;
  margin: 0 auto;
}
