.present {
  margin: 0 auto;
  background-image: url("../img/bg-present-phone.png");
  background-repeat: none;
  background-size: cover;
  padding: 64px 61px 43px 58px;
  margin-bottom: 35px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-present-phone@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-present-tablet.png");
    padding: 57px 124px 60px 77px;
    margin-bottom: 76px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-present-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-present-desktop.png");
    padding: 56px 43px 42px 40px;
    margin-bottom: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-present-desktop@2x.png");
    }
  }
}

.present__text {
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    display: block;
    text-align: center;
  }

  &::before {
    content: "";
    display: block;
    margin: 0 auto;
    background: url("../img/sprite.svg#icon-gift");
    width: 78px;
    height: 80px;
    margin-bottom: 48px;

    @media (min-width: $tablet-width) {
      text-align: left;
      margin: 0;
      width: 80px;
      height: 82px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 auto;
      margin-bottom: 46px;
    }
  }
}
