.programs-form__button-form {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 20px 0 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.programs-form__button {
  width: 100%;
  margin-bottom: 21px;
}

.programs-form__text {
  display: block;
  margin: 0 auto;
  color: $dark-text-color;
  text-align: center;
}
