.promo {
  background-image: url(../../img/background-cat.png);
  width: 320px;
  padding-top: 27px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.promo__wrapper {
  width: 280px;
  margin: 0 auto;
}

.promo__tittle {
  text-align: center;
  color: $light-text-color;
  margin-bottom: 25px;
}

.promo__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $light-text-color;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
}

.promo__image{
  display: block;
  width: 280px;
  height: 270px;
}
