.slider__list {
  @include list-reset;
  margin: 0 auto;
  text-align: center;
}

.slider__image {
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}
