.social__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 128px;
  margin: 0 auto;
}

.social__link {
  display: block;
  text-align: center;

  &:hover::before {
    background: #68b738;
  }

  &:active::before {
    opacity: 0.3;
  }


  &::before {
    content: "";
    display: block;
    background: #666666;

    &:hover {
      background: #68b738;
    }
  }

  &--youtube::before {
    mask: url("../img/sprite.svg#youtube");
    width: 24px;
    height: 20px;
  }

  &--telegram::before {
    mask: url("../img/sprite.svg#telegram");
    width: 19px;
    height: 17px;
  }

  &--vk::before {
    mask: url("../img/sprite.svg#vk");
    width: 28px;
    height: 17px;
  }
}
