.social__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 132px;
  margin: 0 auto;
}

.social__link {
  display: block;
  fill: #666666;

  text-align: center;

  &:hover {
    fill: $accent-color;
  }
}
