@font-face {
  font-family: "Lato";
  font-weight: 800;
  font-style: normal;
  src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2");
  src: url("../../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2");
  src: url("../../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/oswald/oswaldmedium.woff2") format("woff2");
  src: url("../../fonts/oswald/oswaldmedium.woff") format("woff");
  font-display: swap;
}
