//colors
$secondary-background-color: #f2f2f2;
$dark-text-color: #000000;
$light-text-color: #ffffff;
$secondary-text-color: #444444;
$accent-color: #68B738;

//viewports
$tablet-width: 769px;
$desktop-width: 1440px;
